

<span id="errorMessage" class="w3-large alert alert-danger bolder w3-padding-16 small-margin-top small-margin-bottom" style="display:none">

</span>

<span id="successMessage" class="w3-large alert alert-success bolder w3-padding-16 small-margin-top small-margin-bottom" style="display:none">

</span>

<span id="progressSpin" class="w3-large alert alert-info bolder w3-padding-16 small-margin-top small-margin-bottom" style="display:none">
    <i class="fa fa-spinner w3-spin"></i> Processing ..........
</span>
