<!-- Dark Modal -->
<div class="modal fade" id="registerSuccessDarkModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content background-indigo-black">
            <div class="row">
                <button type="button" class="close w3-text-white" data-dismiss="modal" style="padding:15px;color:lightgray">&times;</button>
            </div>
            <div class="row">
                <div class="modal-body text-center">
                    <!--icon-->
                    <div class="row">
                        <i class="glyphicon glyphicon-ok-circle" style="font-size:50px;color:greenyellow"></i>
                    </div>
                    <!--header-->
                    <div class="row paddingTopBottom" style="color:greenyellow">
                        <b style="font-size:20px">Success!</b>
                    </div>
                    <!--body-->
                    <div class="row" style="color:white">
                        <p>Your registration has been sent successfully. For now, you cannot login to the portal.
                        Please wait for the admin to approve. 
                        You will receive an email notification when your registration is approved or reject. Please also check your junk mail box. 
                        Upon your registration is approved, you can then login to the portal.</p>
                    </div>
                    <!--close button-->
                    <div class="row" style="padding:10px 2px 25px 2px">
                        <button type="button" class="button-indigo" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

