@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="w3-white w3-card text-center w3-padding-24">
    <!--icon-->
    <div class="row">
        <i class="glyphicon glyphicon-ok-circle w3-text-green text-large"></i>
    </div>
    <!--header-->
    <div class="row paddingTopBottom w3-text-green w3-xlarge">
        <b>Email Sent!</b>
    </div>
    <!--body-->
    <div class="row">
        <h3>
            Please check your email to reset password. Please check also junk mail box. Thank You.
        </h3>
    </div>
</div>


