@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="w3-white w3-card text-center w3-padding-24">
    <!--icon-->
    <div class="row">
        <i class="glyphicon glyphicon-ok-circle w3-text-green text-large"></i>
    </div>
    <!--header-->
    <div class="row paddingTopBottom w3-text-green w3-xlarge">
        <b style="font-size:20px">Success!</b>
    </div>
    <!--body-->
    <div class="row">
        <h3>
            Your password has been reset.
        </h3>
    </div>
    <div class="row text-center">
        @Html.ActionLink("Login", "login", "account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="button-indigo" })
    </div>
</div>